@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --clr1: hsl(0, 0%, 100%);
  --clr2: hsl(270, 3%, 87%);
  --clr3: hsl(279, 6%, 55%);
  --clr4: hsl(278, 68%, 11%);
  --gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --error: hsl(0, 100%, 66%);
}

.attribution {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

main {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.col-1 {
  width: 700px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bk-container {
  min-width: 483px;
  width: 483px;
  height: 100%;
  background: url("images/bg-main-desktop.png") no-repeat center center/cover;
}

.card-container {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Card front below */

.card-front {
  position: absolute;
  background: url("images/bg-card-front.png") no-repeat center center/cover;
  border-radius: 10px;
  width: 447px;
  height: 245px;
  -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-200px, -135px);
}

.card-front::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  top: 25px;
  left: 30px;
}

.card-front::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  top: 35px;
  left: 80px;
}

.card-front p:nth-child(1) {
  position: absolute;
  top: 140px;
  left: 30px;
  letter-spacing: 3px;
  font-size: 27px;
}

.card-front p:nth-child(2) {
  position: absolute;
  color: white;
  top: 200px;
  left: 30px;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--clr2);
}

.card-front p:nth-child(3) {
  position: absolute;
  color: white;
  top: 200px;
  left: 350px;
  letter-spacing: 2px;
  font-size: 14px;
  color: var(--clr2);
}

/* Card back below */

.card-back {
  position: absolute;
  background: url("images/bg-card-back.png") no-repeat center center/cover;
  border-radius: 10px;
  width: 447px;
  height: 245px;
  -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-120px, 140px);
}

.card-back p {
  position: absolute;
  top: 110px;
  left: 360px;
  color: var(--clr1);
  font-size: 14px;
  letter-spacing: 1px;
}

/* Col-2 below */

.col-2 {
  width: 740px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin: 0 auto;
  animation: scale 0.5s linear forwards;
  transform: scale(0);
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

label {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
}

input {
  padding: 10px 10px 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--clr2);
  color: var(--clr3);
  font-size: 18px;
  outline: transparent;
  width: 100%;
}

input:focus-visible {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  border: 1px solid transparent;
  outline: none;
}

.date {
  display: flex;
  gap: 20px;
}

.exp-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.month-year {
  display: flex;
  gap: 10px;
}

#confirmBtn {
  background-color: var(--clr4);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

#confirmBtn:hover {
  background-color: hsl(276, 70%, 34%);
}

.inputWrapper p {
  color: var(--error);
  font-size: 9px;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.messege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  display: none;
  animation: scale 0.5s linear forwards;
  transform: scale(0);
}

h1 {
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--clr4);
  letter-spacing: 5px;
}

.messege p {
  color: var(--clr3);
  font-size: 23px;
}

.messege a {
  background-color: var(--clr4);
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.messege a:hover {
  background-color: hsl(276, 70%, 34%);
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}

/* Mobile design below */

@media only screen and (max-width: 1150px) {
  main {
    max-width: 350px;
    width: 350px;
    min-width: 250px;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .col-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .bk-container {
    min-width: 100vw;
    height: 240px;
    background: url("images/bg-main-mobile.png") no-repeat center center/cover;
  }

  .card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .card-front {
    width: 252px;
    height: 150px;
    transform: translate(-20px, 90px);
    z-index: 2;
  }

  .card-front::before {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
  }

  .card-front::after {
    width: 10px;
    height: 10px;
    top: 15px;
    left: 35px;
  }

  .card-front p:nth-child(1) {
    top: 85px;
    left: 20px;
    letter-spacing: 3px;
    font-size: 14px;
  }

  .card-front p:nth-child(2) {
    top: 120px;
    left: 20px;
    letter-spacing: 1px;
    font-size: 9px;
  }

  .card-front p:nth-child(3) {
    top: 120px;
    left: 206px;
    letter-spacing: 1px;
    font-size: 9px;
  }

  /* Card back below */

  .card-back {
    width: 252px;
    height: 150px;
    transform: translate(20px, 5px);
  }

  .card-back p {
    font-size: 10px;
    letter-spacing: 1px;
    top: 67px;
    left: 210px;
  }

  /* Col-2 below */

  .col-2 {
    width: 100%;
    height: 100%;
    margin-top: 90px;
    align-items: flex-start;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 280px;
  }

  input {
    font-size: 15px;
  }

  .month-year input {
    width: 65px;
  }

  #confirmBtn {
    padding: 10px;
    font-size: 15px;
    margin-top: 0px;
  }

  .attribution {
    font-size: 10px;
  }

  /* Messege below */

  .messege {
    gap: 15px;
    width: 290px;
  }

  .messege img {
    width: 60px;
  }

  h1 {
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 30px;
  }

  .messege p {
    font-size: 17px;
  }

  .messege a {
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 350px) {
  main {
    max-width: 250px;
  }

  .bk-container {
    height: 240px;
  }

  .card-front {
    width: 250px;
    transform: translate(0px, 80px);
  }

  .card-back {
    width: 250px;
    transform: translate(0px, -6px);
  }
}
